---
title: "Open Source | michaeljcoyne.me"
description: "I try to open source code when it makes sense. This page lists some active projects of mine."
---

%main
  %h1 Open Source

  %p
    I try to open source code when it makes sense. Here are some active projects of mine:

  %h3 Ruby

  %ul
    %li
      #{link_to '&#x1F482; SimonSays'.html_safe, 'https://github.com/SimplyBuilt/SimonSays'}:
      Simple, declarative, role-based access control system for Rails and Ruby.
    %li
      #{link_to '&#x1F501; activejob-retriable', 'https://github.com/SimplyBuilt/activejob-retriable'}:
      Automatically retry failed ActiveJobs. This gem aims to mimic most of the functionality of Sidekiq's RetryJobs middleware.

  %h3 Rust

  %ul
    %li
      #{link_to '&#x1F50F; message_verifier', 'https://github.com/mikeycgto/message_verifier'}:
      Rust Message Verifier library compatible with Rails' MessageVerifier and MessageEncryptor.
    %li
      #{link_to '&#x23EA; rev_lines', 'https://github.com/mikeycgto/rev_lines'}:
      A small Iterator for reading files line by line, with a buffer, in reverse.
    %li
      #{link_to '&#x1F4FB; esper', 'https://github.com/mikeycgto/esper'}:
      Stand-alone Event Source server powered by hyper. Still a work in progress!

  %p
    My #{link_to 'Github profile', 'https://github.com/mikeycgto'} is also a good
    place to see what I have been contributing to lately!
